<app-search></app-search>
<app-tags></app-tags>
<ul>
    <li *ngFor="let food of foods">
        <a routerLink="/food/{{food.id}}">
            <img src="{{food.imageUrl}}" alt="food image">
            <div class="content">
                <div class="name">
                    {{food.name}}
                </div>
                <span class="favorite {{food.favorite? '': 'not'}}"><mat-icon fontIcon="favorite"></mat-icon></span>
                <!-- <star-rating style="font-size: 10px;" [starType]="'svg'" [rating]=food.stars></star-rating> -->
                <div class="product-item-footer">
                    <div class="origin">
                        <span *ngFor="let origin of food.origins">
                            {{ origin }}
                        </span>
                    </div>
                    <div class="cook-time">
                        <span>🕒</span>
                        {{ food.cookTime }}
                    </div>
                </div>
                <div class="price">
                    {{ food.price | currency }}
                </div>
            </div>
        </a>
    </li>
</ul>

