<app-not-found
  [visible]="!food"
  notFoundMessage="Food Not Found"
  resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.imageUrl" [alt]="food.name">
    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
            <span class="favorite {{food.favorite? '': 'not'}}">
                <mat-icon fontIcon="favorite"></mat-icon>
            </span>
        </div>
        <!-- <star-rating style="font-size: 10px;" [starType]="'svg'" [rating]=food.stars></star-rating> -->
        <div class="origins">
            <span *ngFor="let origin of food.origins">
                {{ origin }}
            </span>
        </div>
        <div class="tag">
            <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
        </div>
        <div class="cook-time">
            Time to cook about <strong>{{ food.cookTime }} </strong> Minutes
        </div>
        <div class="price">
            {{ food.price | currency }}
        </div>
        <button (click)="addToCart()">Add to cart</button>
    </div>
</div>